{{#elementsarray}}

<form style="max-width: 1200px;margin: auto;min-width: 75%;" id="{{id}}" autocomplete="{{autocomplete}}" action="{{action}}">
    <div class="form-group row px-4 mform">
        <div style="display: none">
            {{#hiddeninputs}}
                {{> theme_apoa/form/input}}
            {{/hiddeninputs}}
        </div>
        <div class="col-6 col-md-3 px-0 mb-3 form-check-inline mr-0 justify-content-center justify-content-sm-end">
        {{^groups.id}}
            {{#groups}}
                {{#inputs}}
                    {{#radio}}
                        <div class="form-check px-1 align-content-center d-flex align-items-end form-check-inline">
                            {{> theme_apoa/form/input}}
                        </div>
                    {{/radio}}
                {{/inputs}}

            {{/groups}}
        {{/groups.id}}
        </div>
        <div class="col-12 col-md-6 order-last order-md-0 px-0">
        {{#groups}}
            {{#id}}
                    {{#fitem_id_url_search}}
                        {{#inputs}}
                            {{#url_search}}
                                <div id="{{id}}" class="form-group">
                                        {{>theme_apoa/form/input}}
                                </div>
                            {{/url_search}}
                        {{/inputs}}
                    {{/fitem_id_url_search}}
                        {{#inputs}}
                            <div id="{{id}}" class="form-group">
                                <div class="form-row">
                                    <div class="col col-12 col-sm-4">
                                            {{>theme_apoa/form/input}}
                                    </div>
                                </div>
                            </div>
                        {{/inputs}}
            {{/id}}
        {{/groups}}
        </div>
        <div class="col-6 col-md-2 justify-content-md-start d-flex mb-3 align-items-center">
            {{#submitbutton}}
                {{{html}}}
            {{/submitbutton}}
        </div>
        {{#categoryid}}
            {{{html}}}
        {{/categoryid}}

    </div>
</form>
{{/elementsarray}}