div.main-page-banner-logo{
    background-image: url([[pix:theme_apoa|loginbackgroundimage]]);
    background-size: contain;
    background-repeat: no-repeat;
}



h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 500;
}

.limitedwidth {
    min-width:100%!important
}

.committeeiconcontainer{
    width: 100px;
    height: 100px;
}

img.committeeicon{
    width:100%;
    height:100%;
    border-radius: 100%;
}

.navbar.fixed-top{
    position: absolute!important;
}

.site-name{
    padding-left: 10px;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 0.5rem;
    color: --var($primary);
}

.site-name.long{
    display: none;
}

.site-name.short{
    display: block;
}

@media (min-width: 350px) {
    .site-name.long{
        display: block;
    }
    .site-name.short{
        display: none;
    }
}

table.discussion-list tr td:nth-child(3), table.discussion-list tr td:nth-child(4)  { display: none; }

table.discussion-list tr th:nth-child(3), table.discussion-list tr th:nth-child(4)  { display: none; }