div.main-page-banner-logo{
    background-image: url([[pix:theme_apoa|loginbackgroundimage]]);
    background-size: contain;
    background-repeat: no-repeat;
}



h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 500;
}

.limitedwidth {
    min-width:100%!important
}

.committeeiconcontainer{
    width: 100px;
    height: 120px;
}

img.committeeicon{
    width:100%;
    object-fit: cover;
    object-position: top;
    height:100%;
    border-radius: 5%;
}

.navbar.fixed-top{
    position: absolute!important;
}

.site-name{
    padding-left: 10px;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 0.5rem;
    color: --var($primary);
}

.site-name.long{
    display: none;
}

.site-name.short{
    display: block;
}

@media (min-width: 350px) {
    .site-name.long{
        display: block;
    }
    .site-name.short{
        display: none;
    }
}

.footer-section a{
    color: white !important;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: var(--primary) transparent var(--primary) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

table.discussion-list tr td:nth-child(3), table.discussion-list tr td:nth-child(4)  { display: none; }

table.discussion-list tr th:nth-child(3), table.discussion-list tr th:nth-child(4)  { display: none; }