div.main-page-banner-logo{
    background-image: url([[pix:theme_apoa|loginbackgroundimage]]);
    background-size: contain;
    background-repeat: no-repeat;
}



body{
    font-family: 'Archivo', sans-serif !important;
    font-weight: 500!important;
    --primary: #336667!important;
    --secondary: #D4D29E!important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 500;
}

.limitedwidth {
    min-width:100%!important
}

.committeeiconcontainer{
    width: 100px;
    height: 100px;
}

img.committeeicon{
    width:100%;
    height:100%;
    border-radius: 100%;
}

.navbar.fixed-top{
    position: absolute!important;
}