$primary: #2088A5 !default;
$secondary: #D4D29E !default; 
$accent: #cb1e6f !default;
$course-content-maxwidth: 90%!important;
$theme-colors: (
  "accent": #cb1e6f
);


@font-face {
    font-family: 'Archivo' ,sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');
}

@font-face {
    font-family: 'Karla', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
}
