
<ul class="list-group" style="border-style: none;">
    {{#content}}
        {{> theme_apoa/lists/listitems/mainpageeventslistitem}}
    {{/content}}
    <li class="list-group-item p-0 main-page-sub-list-group-item">
            <div class="card p-0" style="border-style: none;">
                <div class="card-body pb-0 pt-2">
                    <a class="mb-1 main-page-link main-page-more-link" href="{{{sectionurl}}}">more {{sectiontitle}}</a>
                </div>
            </div>
    </li>
</ul>
