<div id="accordion" role="tablist">
    {{#subcategorycourses}}
            {{#first}}
                {{> theme_apoa/section/elibrarylistitemtop}}
            {{/first}}
            {{^first}}
                {{> theme_apoa/section/elibrarylistitem}}
            {{/first}}
    {{/subcategorycourses}}
</div>
<div class="p-0 main-page-sub-list-group-item">
    <div class="card p-0" style="border-style: none;">
        <div class="card-body pb-0 pt-2">
            <p class="mb-1">
            <a class="main-page-link main-page-more-link" href="{{{categoryurl}}}">Visit the {{categorytitle}}...</a>
            </p>
        </div>
    </div>
</div>