<div class="row mx-0 pt-2">
    <div class="col col-12 px-0"><a class="stretched-link main-page-link-wrapper" href="{{url}}"></a>
        <div class="main-page-announcements-card w-100 h-100">
            <div class="row h-100 mx-0">
                <div class="col col-7 h-100 px-0">
                    <div class="card-img-overlay main-page-card">
                        <h5 class="main-page-announcements-title main-page-link">{{{name}}}</h5>
                        <div>
                            <p><span class="main-page-link card-summary-hide-mobile">{{{summary}}}</span>
                            <a href="{{caturl}}"><small class="main-page-link-sub">{{cat}}</small></a>
                            <span>&nbsp;|&nbsp;</span><a href="{{{tagurl}}}"><small class="main-page-link-sub">{{tag}}</small></a></p>
                        </div>
                    </div>
                </div>
                <div class="col col-5 h-100 px-0"><img class="related-image" src="{{img}}"></div>
            </div>
        </div>
    </div>
</div>