<div class="card main-page-sub-list-group-item">
    <div class="card-header p-0 border-0" role="tab">
        <div class="card main-page-card"><a class="stretched-link main-page-link-wrapper" href="{{itemurl}}"></a>
            <div class="card-body pb-0">
                <h5 class="text-muted card-subtitle mb-2 journal-sub-card-title main-page-link main-page-sub-card-text">{{itemtitle}}</h5>
                <div class="journal-sub-card-text-cont">
                    <p class="mb-2 journal-card-text w-100 mw-100" style="font-size: smaller">
                        <a class="main-page-link-sub d-inline-block text-truncate" href="{{itemcaturl}}" style="max-width: 75%!important">{{itemcat}}</a>
                        {{#itemtag}}&nbsp;|&nbsp;{{/itemtag}}<small class="text-muted main-page-link-sub mw-25" style="max-width: 25%!important; width:auto"><a class="main-page-link-sub text-truncate d-block w-auto" href="{{{itemtagurl}}}">{{{itemtag}}}</a></small>
                    </p>
                </div>
                {{#forum}}
                        <p class="float-right main-page-link-sub text-primary" href="#accordion-{{itemrootid}} .item-{{itemindex}}" data-toggle="collapse" aria-controls="#accordion-{{itemrootid}} .item-{{itemindex}}" aria-expanded="true">Show Discussion</p>
                    {{/forum}}
            </div>
        </div>
    </div>
    {{#forum}}
    <div class="collapse item-{{itemindex}}" role="tabpanel" data-parent="#accordion-{{itemrootid}}">
        <div class="card-body">
            <div>
                {{#forumpost}}
                    <h5 class="card-title">{{name}}</h5>
                    <h6 class="text-muted card-subtitle mb-2">{{author}}</h6>
                    <p class="card-text">{{{message}}}</p>
                {{/forumpost}}
                {{^forumpost}}
                    <h6 class="text-muted card-subtitle mb-2">No topics yet.</h6>
                {{/forumpost}}
                <a class="card-link main-page-link-sub" href="{{forumurl}}">Go to discussion</a>
            </div>
        </div>
    </div>
    {{/forum}}
</div>
