<div id="accordion-{{categoryid}}" role="tablist">
    {{#subcategorycourses}}
            {{#first}}
                {{> theme_apoa/mainpage/subjumbo/subjumbolistitemwidetop}}
            {{/first}}
            {{^first}}
                {{> theme_apoa/mainpage/subjumbo/subjumbolistitemwide}}
            {{/first}}
    {{/subcategorycourses}}
</div>
<div class="p-0 main-page-sub-list-group-item">
    <div class="card p-0" style="border-style: none;">
        <div class="card-body pb-0 pt-2">
            <h5 class="mb-1">
            <a class="main-page-link text-accent" href="{{{categoryurl}}}">Visit the {{categorytitle}}</a>
            </h5>
            
        </div>
    </div>
</div>