<li class="list-group-item p-0 main-page-sub-list-group-item">
    <div class="card" style="border-style: none;"><a class="stretched-link main-page-link-wrapper" href="{{itemurl}}"></a>
        <div class="card-body pb-0">
            <h5 class="text-muted card-subtitle mb-2 main-page-link">{{itemtitle}}</h5>
            <div>
                <p class="small"><span><a class="main-page-link-sub"href="{{itemrooturl}}">{{itemroot}}</a></span><span>&nbsp;|&nbsp;</span><small><a class="main-page-link-sub"href="{{itemcaturl}}">{{itemcat}}</a></small></p>
            </div>
        </div>
    </div>
</li>