<h4 class="text-center main-page-section-title pt-2 p-1 px-0">
    <a class="section_title main-page-link" href="{{sectionurl}}">{{sectiontitle}}</a>
</h4>
<div class="row w-100 m-0">
    <div class ="col col-4 px-0">
        <div class="nav flex-column nav-pills p-0" id="elibrary-tab" role="tablist" aria-orientation="vertical">
            {{#content}}
                {{#firsttab}}
                    <a id="tab-{{categoryid}}" class="nav-link main-page-pill active" href="#panel-{{categoryid}}" data-toggle="pill" role="tab" aria-controls="panel-{{categoryid}}" aria-selected="true">{{categorytitle}}</a>
                {{/firsttab}}
                {{^firsttab}}
                    <a id="tab-{{categoryid}}" class="nav-link main-page-pill" href="#panel-{{categoryid}}" data-toggle="pill" role="tab" aria-controls="panel-{{categoryid}}" aria-selected="false">{{categorytitle}}</a>
                {{/firsttab}}
            {{/content}}
        </div>
    </div>
    <div class ="col col-8 px-0">
        <div class="tab-content" id="elibrary-tabContent">
            {{#content}}
                {{#firsttab}}
                    <div class="tab-pane fade show active" id="panel-{{categoryid}}" role="tabpanel" aria-labelledby="tab-{{categoryid}}">
                        {{> theme_apoa/mainpage/subjumbo/subjumbolistwidetab}}
                    </div>
                {{/firsttab}}
                {{^firsttab}}
                    <div class="tab-pane fade" id="panel-{{categoryid}}" role="tabpanel" aria-labelledby="tab-{{categoryid}}">
                        {{> theme_apoa/mainpage/subjumbo/subjumbolistwidetab}}
                    </div>
                    
                {{/firsttab}}
            
            {{/content}}
        </div>
    </div>
</div>
