<div class="card main-page-sub-list-group-item">
    <div class="card-header p-0 border-0" role="tab">
        <div class="card main-page-card"><a class="stretched-link main-page-link-wrapper" href="{{itemurl}}"></a>
            <div class="card-body pb-0">
                <h5 class="text-muted card-subtitle mb-2 journal-sub-card-title main-page-link main-page-sub-card-text">{{itemtitle}}</h5>
                <div class="journal-sub-card-text-cont">
                    <p class="mb-2 journal-card-text">
                    <span class="journal-sub-card-authors main-page-link main-page-sub-card-text main-page-sub-card-text">{{itemauthors}}</span>
                    <span>&nbsp;|&nbsp;<small class="text-muted main-page-link-sub">{{itemcat}}</small></span>
                    </p>
                    <span class="float-right main-page-link-sub" href="#accordion-2 .item-{{itemindex}}" data-toggle="collapse" aria-controls="#accordion-2 .item-{{itemindex}}" aria-expanded="true">Show Abstract</span>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse item-{{itemindex}}" role="tabpanel" data-parent="#accordion-2">
        <div class="card-body">
            <p class="card-text">{{{itemsummary}}}</p>
        </div>
    </div>
</div>
