<div class="card main-page-sub-list-group-item pb-3">
    <div class="card-header p-0 border-0" role="tab"><a class="stretched-link main-page-link-wrapper" href="{{itemurl}}"></a>
        <div class="card no-border-radius journal-card"><img class="card-img w-100 d-block main-page-sub-card-img no-border-radius" src="{{itemimg}}">
            <div class="card-img-overlay justify-content-end align-items-start align-content-end text-white flex-column d-flex">
                <div class="card-text-over-picture">
                <h5 class="journal-card-title main-page-link"><br>{{itemtitle}}<br><br></h5>
                <div class="w-100">
                    <p class="mb-2 journal-card-text mw-50" style="font-size: smaller">
                        <span class="mw-100"><a class="main-page-link-sub d-inline-block text-truncate mw-100 text-white pr-1"href="{{itemcaturl}}">{{itemcat}}</a></span>
                        <span>{{#itemtag}}<a class="main-page-link-sub border-left border-white pl-1 small text-white" href="{{{itemtagurl}}}">{{itemtag}}</a>{{/itemtag}}</span>
                    </p>
                </div>
                </div>
                <div class="w-100">
                    {{#forum}}
                        <h6 class="text-right main-page-link-sub float-right" href="#accordion-{{itemrootid}} .item-{{itemindex}}" data-toggle="collapse" aria-expanded="true" aria-controls="#accordion-{{itemrootid}} .item-1">Show Discussion</h6>
                    {{/forum}}
                </div>
            </div>
        </div>
    </div>
    {{#forum}}
    <div class="collapse item-{{itemindex}}" role="tabpanel" data-parent="#accordion-{{itemrootid}}" style="border-style: none;">
        <div class="card-body">
            <div>
                {{#forumpost}}
                    <h5 class="card-title">{{name}}</h5>
                    <h6 class="text-muted card-subtitle mb-2">{{author}}</h6>
                    <p class="card-text">{{{message}}}</p>
                {{/forumpost}}
                {{^forumpost}}
                    <h6 class="text-muted card-subtitle mb-2">No topics yet.</h6>
                {{/forumpost}}
                <a class="card-link main-page-link-sub" href="{{forumurl}}">Go to discussion</a>
            </div>
        </div>
    </div>
    {{/forum}}
</div>