<h4 class="text-center main-page-section-title pt-2 p-1 px-0">
    <a class="section_title main-page-link" href="{{sectionurl}}">{{sectiontitle}}</a>
</h4>
<div class="row w-100 m-0">
    <div class ="col col-4 px-0">
        <div class="nav flex-column nav-pills p-0" id="elibrary-tab" role="tablist" aria-orientation="vertical">
            {{#subcategories}}
                {{#firsttab}}
                    <a id="tab-{{categoryid}}" class="nav-link main-page-pill active" href="#panel-{{categoryid}}" data-toggle="pill" role="tab" aria-controls="panel-{{categoryid}}" aria-selected="true">{{categorytitle}}</a>
                {{/firsttab}}
                {{^firsttab}}
                    <a id="tab-{{categoryid}}" class="nav-link main-page-pill" href="#panel-{{categoryid}}" data-toggle="pill" role="tab" aria-controls="panel-{{categoryid}}" aria-selected="false">{{categorytitle}}</a>
                {{/firsttab}}
            {{/subcategories}}
        </div>
    </div>
    <div class ="col col-8 px-0">
        <div class="tab-content" id="elibrary-tabContent">
            {{#subcategories}}
                {{#firsttab}}
                    <div class="tab-pane fade show active" id="panel-{{categoryid}}" role="tabpanel" aria-labelledby="tab-{{categoryid}}">
                        <div id="accordion-{{categoryid}}" role="tablist">
                            {{#categorycontent}}
                                {{#first}}
                                    {{> theme_apoa/mainpage/subjumbo/subjumbolistitemwidetopcopy}}
                                {{/first}}
                                {{^first}}
                                    {{> theme_apoa/mainpage/subjumbo/subjumbolistitemwidecopy}}
                                {{/first}}
                            {{/categorycontent}}
                        </div>
                        <div class="p-0 main-page-sub-list-group-item">
                            <div class="card p-0" style="border-style: none;">
                                <div class="card-body pb-0 pt-2">
                                    <p class="mb-1">
                                    <a class="main-page-link main-page-more-link" href="{{{categoryurl}}}">Visit the {{categorytitle}}...</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/firsttab}}
                {{^firsttab}}
                    <div class="tab-pane fade" id="panel-{{categoryid}}" role="tabpanel" aria-labelledby="tab-{{categoryid}}">
                        <div id="accordion-{{categoryid}}" role="tablist">
                            {{#categorycontent}}
                                {{#first}}
                                    {{> theme_apoa/mainpage/subjumbo/subjumbolistitemwidetopcopy}}
                                {{/first}}
                                {{^first}}
                                    {{> theme_apoa/mainpage/subjumbo/subjumbolistitemwidecopy}}
                                {{/first}}
                            {{/categorycontent}}
                            {{^categorycontent}}
                                <p class="mb-1">
                                    <a class="main-page-link main-page-more-link" href="">There is no content</a>
                                </p>
                            {{/categorycontent}}
                        </div>
                        <div class="p-0 main-page-sub-list-group-item">
                            <div class="card p-0" style="border-style: none;">
                                <div class="card-body pb-0 pt-2">
                                    <p class="mb-1">
                                    <a class="main-page-link main-page-more-link" href="{{{categoryurl}}}">Visit the {{categorytitle}}...</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                {{/firsttab}}
            
            {{/subcategories}}
        </div>
    </div>
</div>
