<h4 class="text-center main-page-section-title pt-2 px-0 main-page-link">{{sectiontitle}}</h4>
<ul class="list-group" style="border-style: none;">
    {{#content}}
        {{#first}}
            {{> theme_apoa/mainpage/subjumbo/subjumbolistitemtop}}
        {{/first}}
        {{^first}}
            {{> theme_apoa/mainpage/subjumbo/subjumbolistitem}}
        {{/first}}
    {{/content}}
    <li class="list-group-item p-0 main-page-sub-list-group-item">
        <div class="card p-0" style="border-style: none;">
            <div class="card-body pb-0 pt-2">
                <p class="mb-1 main-page-link main-page-more-link">{{sectionmore}}</p>
            </div>
        </div>
    </li>
</ul>
