<li class="list-group-item p-0 main-page-sub-list-group-item">
    <div class="card" style="border-style: none;"><a class="stretched-link main-page-link-wrapper" href="{{itemurl}}"></a>
        <div class="card-body pb-0">
            <h5 class="text-muted card-subtitle mb-2 main-page-link">{{itemtitle}}</h5>
            <div>
                <p class="mb-2 main-page-sub-card-text"><span class="main-page-link main-page-sub-card-text">{{itemdescription}}</span><span>&nbsp;|&nbsp;</span><small class="main-page-link-sub">{{itemcat}}</small></p>
            </div>
        </div>
    </div>
</li>