<div id="pagination-{{itemindex}}" class="row mx-0 pt-2 main-page-announcements-card-cont">
    <div class="col col-12 px-0 h-100 sidejumboitemcontainer">
        <a class="stretched-link main-page-link-wrapper sidejumbo-link" aria-disabled="true" data-link-id="{{itemindex}}" data-link-address="{{{itemurl}}}"></a>
        <div class="main-page-announcements-card w-100 h-100">
            <div class="row h-100 mx-0">
                <div class="col col-8 h-100 px-0 main-page-announcements-card-text-cont">
                    <div class="card-img-overlay main-page-card">
                        <h6 class="main-page-announcements-title main-page-link">{{itemtitle}}</h6>
                        <div>
                            <p class="small"><span><a class="main-page-link-sub"href="{{itemrooturl}}">{{itemroot}}</a></span><span>&nbsp;|&nbsp;</span><small><a class="main-page-link-sub"href="{{itemcaturl}}">{{itemcat}}</a></small></p>
                        </div>
                    </div>
                </div>
                <div class="col col-4 h-100 px-0 main-page-announcements-card-image-cont"><img class="main-page-sec-image" src="{{itemimg}}"></div>
            </div>
        </div>
    </div>
</div>