
<div class="row mx-0" style="">
    <div class="col-12 pb-3 px-0 px-lg-2">
        {{#createcourse}}
                    {{> theme_apoa/buttons/largebutton}}
        {{/createcourse}}
        <div>
            {{#category}}
                {{#courses}}
                    {{> theme_apoa/lists/listitems/categorycourselistitem}}
                {{/courses}}
            {{/category}}
        </div>
    </div>
</div>
