<div class="col col-12 col-md-4 mb-1 border-secondary border-0 border-bottom rounded bg-light">
    <a class="stretched-link" href="{{url}}">
        <div class="row coursecatcard p-2">
            <div class="col col-5 coursecatcard-imgcont d-flex align-items-center justify-content-center">
                <img class="card-img-top-course border-0 rounded-0 coursecatcard-img" src="{{imgurl}}" alt="Card image cap">
            </div>
            <div class="col col-7 d-flex align-items-center">
                    <h5 class="card-title">{{{name}}}</h5>
                    <p class="card-text">{{{description}}}</p>
                    <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </a>

    
  </div>