<div class="row">
    <div class="col col-3 flex-column d-flex align-items-end secondary-banner-logo"><img src="assets/img/Logos/hip.png" style="position: relative;height: 100px;"></div>
    <div class="col">
        <div class="row">
            <div class="col">
                {{{ output.full_header }}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{#secondarymoremenu}}
                <div class="secondary-navigation d-print-none">
                    {{> core/moremenu}}
                </div>
                {{/secondarymoremenu}}
            </div>
        </div>
    </div>
</div>