<div data-region="footer-container-popover">
        <button id="viewInAppButton" class="btn btn-icon bg-secondary icon-no-margin btn-footer-popover text-white"
            style="display: block!important;
                filter: drop-shadow(2px 4px 6px black);
                background-color: #fae808!important;
                z-index: 2;" 
            data-action="footer-popover" 
            aria-label="{{#str}}showfooter, theme_boost{{/str}}"
            openAppUrl="{{appurl}}">
            {{#pix}}mobile, theme_apoa{{/pix}}
        </button>
</div>
{{#js}}
require(['theme_apoa/view-in-app'], function(viewInApp) {
    viewInApp.init('viewInAppButton');
});
{{/js}}
