<div class="col col-lg-4 col-sm-12 col-12 main-page-col main-page-sec-col">
    <h4 class="p-1 pt-2 m-0 main-page-section-title main-page-link">{{AnnouncementsHeading}}</h4>
    <div class="main-page-announcements-cont">
        {{#announcements}}
            {{>theme_apoa/landing/landing-jumbo-announcement-card}}
        {{/announcements}}
    </div>
</div>