
    <div id="aboutcontainer" class="row py-6 mx-0 main-page-section-top-border">
        <div class="col-md-6 mb-4 d-flex flex-column justify-content-center">
            <div class=""><img class="rounded img-fluid w-100 fit-cover h-100" src="{{aboutimg}}" /></div>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-md-center mb-4 justify-content-center bg-white rounded p-2">
                <h2 class="text-uppercase font-weight-bold text-center text-primary ">{{abouttitle}}</h2>
                <div class="text-primary">{{{aboutdesc}}}</div><a class="btn btn-outline-primary btn-lg" role="button" href="{{{abouturl}}}">Find out more</a>
        </div>
    </div>
