<div class="row py-3 mx-0 main-page-section-top-border">
    {{#PreviousEvents}}
            <div class="col-md pb-3 px-0 px-lg-2">
                <h4 class="text-center main-page-section-title pt-2 p-1 px-0">
                    <a class="section_title main-page-link" href="{{sectionurl}}">{{sectiontitle}}</a>
                </h4>
                {{> theme_apoa/lists/mainpageeventslist}}
            </div>
    {{/PreviousEvents}}
    {{#OngoingEvents}}
            <div class="col-md pb-3 px-0 px-lg-2 order-first order-md-0">
                <h4 class="text-center main-page-section-title pt-2 p-1 px-0 bg-accent">
                    <a class="section_title main-page-link bg-transparent" href="{{sectionurl}}">{{sectiontitle}}</a>
                </h4>
                {{> theme_apoa/lists/mainpageeventslist}}
            </div>
    {{/OngoingEvents}}
    {{#FutureEvents}}
            <div class="col-md pb-3 px-0 px-lg-2">
                <h4 class="text-center main-page-section-title pt-2 p-1 px-0">
                    <a class="section_title main-page-link" href="{{sectionurl}}">{{sectiontitle}}</a>
                </h4>
                {{> theme_apoa/lists/mainpageeventslist}}
            </div>
    {{/FutureEvents}}
</div>