<div class="row mx-0 justify-content-center">
    <div id="jumbo" class="col col-sm-12 col-12 main-page-col">
        {{#jumbomain}}
            <div>
                {{>theme_apoa/mainpage/jumbo/jumbomain}}
            </div>
        {{/jumbomain}}
        {{^sidejumbo}}
            {{> theme_apoa/mainpage/jumbo/jumbomodal}}
        {{/sidejumbo}}
    </div>
    <div id="sidejumbo" class="col col-sm-12 col-12 main-page-col bg-white">
            {{#sidejumbo}}
                {{{blocks.get_blocks}}}     
            {{/sidejumbo}}
    </div>
</div>
