<div class="row mx-0">
    <div id="jumbo" class="col col-lg-8 col-sm-12 col-12 main-page-col">
        {{#jumbomain}}
            <div>
                {{>theme_apoa/mainpage/jumbo/jumbomain}}
            </div>
        {{/jumbomain}}
        {{#sidejumbo}}
            {{> theme_apoa/mainpage/jumbo/jumbomodal}}
        {{/sidejumbo}}
    </div>
    <div class="col col-lg-4 col-sm-12 col-12 main-page-col main-page-sec-col bg-white">
            {{#sidejumbo}}
                {{{blocks.get_blocks}}}     
            {{/sidejumbo}}
    </div>
</div>
