<a href="{{{sectionurl}}}" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center" style="border-top-width: 1px;width: fit-content; flex-grow: 1">
            <h5 class="card-title journal-card-sub-title mb-1 middle main-page-subsection-title text-nowrap">{{sectionname}}</h5>
            <span class="pl-2">
                <img class="" style="height: 30px" src="{{sectionimg}}">
            </span>
</a>