<div class="col"><a class="stretched-link main-page-link-wrapper" href="{{{sectionurl}}}"></a>
    <div class="card main-page-card main-page-sub-list-group-item mb-2"><img class="card-img-top w-100 d-block main-page-section-icon mb-2" src="{{sectionimg}}">
        <div class="card-body py-0">
            <h5 class="card-title journal-card-sub-title mb-1 middle main-page-subsection-title main-page-link">{{sectionname}}</h5>
        </div>
    </div>
</div>